:root
--color-button-green: #bbf330;
--color-dark-green: #7eb101;
--color-yellow-main: #ffe550;
--color-black: #2c2c2c;
--color-white: #fefefe;
--color-2: #a7ce47;
--color-text: #3d3d3d;
--color-text-2: #969696;
--color-text-3: #4a4a4a;

/font/

--font-family-modal : 'Inter',
sans-serif;
--font-family-second : 'Kalam',
cursive;
--font-family-main: 'Roboto',
sans-serif;


body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container{
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--color-black);
    border-radius: 30px;
    cursor: pointer;
}

/**
  |============================
  | Header
  |============================
*/

.header{
    background-color: var(--color-white);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.container-box{
    display: flex;
    align-items: center;
}

.nav{
    margin-left: auto;
    margin-right: 30px;
}

.nav-list{
    display: flex;
    gap: 28px;
}

.nav-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-black);
    padding: 16px 0;
    font-family:var(--font-family-main)
}

.nav-link:hover,
.nav-link:focus{
    text-decoration: underline;
    color:#BBF330;
}


.header-btn{
    width: 98px;
    height: 32px;
    background-color:#BBF330;
    border: none;
}

.header-btn:hover,
.header-btn:focus {
    background-color: #FFE450;
}


/**
  |============================
  | HERO
  |============================
*/


.hero-container{
    position: relative;
    display: flex;
}

.hero-side-left{
    padding: 159px;

}

.hero-side-right{

}

.hero-title{
    width: 503px;
    margin-bottom: 28px;
    left: 0px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #2c2c2c;
    font-family: var(--font-family-main);

}

.hero-text{
    width: 511px;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);


}

.hero-btn{

}

